<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057119832733-mt0jbqaq4hod239s5fmmju3ifui6o24p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057119832733-mt0jbqaq4hod239s5fmmju3ifui6o24p</string>
	<key>API_KEY</key>
	<string>AIzaSyDu2gwk2xCroGS5nWy4X6O-jMZBiU5yr28</string>
	<key>GCM_SENDER_ID</key>
	<string>1057119832733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunali.selfcheckoutapp</string>
	<key>PROJECT_ID</key>
	<string>ubsj-checkout</string>
	<key>STORAGE_BUCKET</key>
	<string>ubsj-checkout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057119832733:ios:09d95aa3378d9e964a6274</string>
</dict>
</plist>